<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
<!--    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>-->
    <!--<uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>-->
    <!--add below in application-->
    <!--android:name=".RunningApp"-->

    <application

        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_shlogo"
        android:label="SmartHydro"
        android:roundIcon="@mipmap/ic_shlogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OPSC7312Part1"
        tools:targetApi="34">

        <!--service for APIs and notifications-->
        <!--<service
            android:name=".APICallService"
            android:enabled="true"
            android:exported="false" />-->
        <activity
            android:name=".FragmentTesting"
            android:exported="false"
            android:theme="@style/Theme.OPSC7312Part1"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_fragment_testing"
            android:theme="@style/Theme.OPSC7312Part1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GoogleLogin"
            android:exported="true"
            android:label="SmartHydro"
            android:theme="@style/Theme.LoginPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>