<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <!--<add below in application>-->
    <uses-permission android:name=".RunningApp"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application

        android:fullBackupContent="@xml/backup_rules"
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:icon="@mipmap/ic_shlogo"
        android:label="SmartHydro"
        android:roundIcon="@mipmap/ic_shlogo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OPSC7312Part1"
        tools:targetApi="34">


        <!--service for APIs and notifications-->
        <service
            android:name=".APICallService"
            android:enabled="true"
            android:exported="false" />
        <activity
            android:name=".FragmentTesting"
            android:exported="false"
            android:theme="@style/Theme.OPSC7312Part1"
            android:screenOrientation="portrait"
            />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/title_activity_fragment_testing"
            android:theme="@style/Theme.OPSC7312Part1"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GoogleLogin"
            android:exported="true"
            android:label="SmartHydro"
            android:theme="@style/Theme.LoginPage"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>